#!/bin/bash
#Can be used independently of Winery to allow use of xinput-mouse.rc, gametimer.rc and xboxdrvcontrol.rc
#Important for printing and desktop notifications while not having to write excessive information to external scripts.
export WINESCRIPTS_DIR="$HOME/.local/share/winescripts"
export WINEFUNCTIONS_DIR="$WINESCRIPTS_DIR/modules"
source "$WINEFUNCTIONS_DIR/printing-etiquette.rc"
source "$WINEFUNCTIONS_DIR/desktop-notify.rc"
STATUS_DIR="/tmp/$USER-userstatus-dir"
if [[ ! -d "$STATUS_DIR" ]]; then
mkdir -p "$STATUS_DIR"
fi

LOG_BASE_DIR="$HOME/.local/share/gametimes"
if [[ ! -d "$LOG_BASE_DIR" ]]; then
mkdir -p "$LOG_BASE_DIR"
fi
