#!/bin/bash
#Used for pretty printing and exiting of processes while allowing it to be changed easily. Is the standard for Winery, but can be used independently if you wish to do so.

infoprint(){ printf "$(tput bold)$(tput setaf 4)Info: ${@}$(tput sgr0)";}
errprint(){ printf "$(tput bold)$(tput setaf 1)Error: ${@}$(tput sgr0)";}
warnprint(){ printf "$(tput bold)$(tput setaf 3)Warning: ${@}$(tput sgr0)";}
exithandle(){
eh_exit=$? #Exit status
eh_title="$@" #Title of operation
case $eh_exit in
0)
infoprint "$eh_title exited successfully.\n"
;;
1)
warnprint "$eh_title exited with error code.\n"
;;
*)
warnprint "$eh_title exited with an unknown error code.\n"
;;
esac
unset eh_title
return $eh_exit
#Remember to unset eh_exit for a clean shell
}
